on:
  pull_request:
    branches:
      - main
      - develop

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          
      - name: install dependencies
        run: npm install
        
      - name: run test
        run: npm run test

      - name: run test (e2e)
        run: npm run test:e2e

      - name: build
        run: npm run build

      - name: start
        run: npm run start
    
